/* общий класс .container для центрирования и ограничения контента по ширине */

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* скрываем заголовки h1 и h2 на странице*/

.hidden {
  @extend %visually-hidden;
}